@{
    var siteTitle = ViewData[nameof(LayoutViewModel.Title)]?.ToString();
    var title = ViewData["header"]?.ToString();
    var fullTitle = !string.IsNullOrWhiteSpace(title) ? $"{title} - {siteTitle}" : siteTitle;

    var author = ViewData[nameof(LayoutViewModel.Author)]?.ToString() ;
    var description = ViewData[nameof(LayoutViewModel.Description)]?.ToString();
    var header = ViewData[nameof(LayoutViewModel.HeaderContent)]?.ToString();
    var footer = ViewData[nameof(LayoutViewModel.FooterContent)]?.ToString();

    var isAdmin = ViewData["IsAdmin"] is bool ? (bool)ViewData["IsAdmin"] : false;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @if (!string.IsNullOrWhiteSpace(author))
    {
        <meta name="author" content="@author">
    }

    @if (!string.IsNullOrWhiteSpace(description))
    {
        <meta name="description" content="@description">
    }

    @{await Html.RenderPartialAsync("_GoogleTagsHead", ViewData); }

    <title>@fullTitle</title>
    <link rel="stylesheet" asp-href-include="~/css/*.css" asp-append-version="true" />
</head>
<body>
    @{await Html.RenderPartialAsync("_GoogleTagsBody", ViewData); }

    <div class="header">
        <div class="header__body">
            <a class="header__body_link" href="/">@siteTitle</a>
            <a class="header__body_rss" href="/feed.atom"><span class="typcn typcn-rss"></span></a>
        </div>
    </div>

    <div class="wrapper">
        <div class="content">
            @if (!isAdmin && !string.IsNullOrWhiteSpace(header))
            {
                <div class="content__header">@Html.Markdown(header)</div>
            }

            @RenderBody()
        </div>

        @if (!string.IsNullOrWhiteSpace(footer))
        {
            <div class="footer">
                <div class="footer__body">
                    @Html.Markdown(footer)
                </div>
            </div>
        }

    @RenderSection("scripts", false)
</body>
</html>